.container {
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background: url(./images/dice-image.jpg) top/cover no-repeat;
  height: 100svh;
}

h1 {
  margin: 30px;
  font-family: "Pasifico", cursive;
  text-shadow: 5px 0 #1fcfff;
  font-size: 8rem;
  color: #0f0f1b;
}

p {
  font-size: 2rem;
  color: #00d9f6;
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}

.button {
  margin-top: 5%;
  padding: 15px 30px;
  border: 2px solid #fff;
  border-radius: 30px;
  color: #fff;
  font-size: 28px;
  font-weight: 600;
  font-family: "Pasifico", cursive;
  background-color: #0f0f1b;
  transition: background-color 0.3s;
  @media (any-hover: hover) {
    &:hover {
      background-color: #0a4d5f;
    }
  }
}
